<!-- blocks :   title
                add_styles
                content -->
<!DOCTYPE html>
    <head>
        <title> {% block title %} {% endblock %} _moni</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        {% block add_styles %} {% endblock %}
    </head>
    <body>
        <header>
            <h1><a href="{{ url_for('home.home') }}">moni</a></h1>
            <nav>
                <ul id='main_nav'>
                {% if not g.user %}
                    <li><a href="{{ url_for('auth.register') }}" >_register</a></li>
                    <li><a href="{{ url_for('auth.login') }}" >_log in</a></li>
                {% else %}
                    <span id="greeting">Hi {{ g.user['username'] }}</span>
                    <li><a href="{{ url_for('user.dboard') }}">_dashboard</a></li>
                    <li><a href="{{ url_for('user.settings') }}">_settings</a></li>
                    {% if g.user.admin %}<li><a href="{{ url_for('user.admin') }}">_admin</a></li>{% endif %}
                    <li><a href="{{ url_for('auth.logout') }}" >_log out</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %} {% endblock %}
        <footer>
            this app is brought to you by jal1nk. all rights reserved. 2019
        </footer>
    </body>
</html>
